build --define=common-version=0.0.0 --define=dogrider-version=0.0.0 --define=dune-version=0.0.0 --define=fish-version=0.0.0 --define=mathwheel-version=0.0.0 --define=networktest-version=0.0.0 --define=spellwheels-version=0.0.0 --define=starfighter-version=0.0.0 --define=tankbattle-version=0.0.0 --define=tanks-version=0.0.0 --define=template-version=0.0.0 --define=terminal-version=0.0.0 
test --define=common-version=0.0.0 --define=dogrider-version=0.0.0 --define=dune-version=0.0.0 --define=fish-version=0.0.0 --define=mathwheel-version=0.0.0 --define=networktest-version=0.0.0 --define=spellwheels-version=0.0.0 --define=starfighter-version=0.0.0 --define=tankbattle-version=0.0.0 --define=tanks-version=0.0.0 --define=template-version=0.0.0 --define=terminal-version=0.0.0 
